#
# Managed by ansible
# Role: systemd-timers
#
[Unit]
Description=automount {{ item.key }}
After=network-online.target multi-user.target

[Automount]
Where={{ item.value.mount }}

[Install]
WantedBy=default.target
